@using SoundSynchro
@model MusicCollection
<h1>
    Musics
    @*<div class="pull-right">
        <a id="play-all" href="#" class="button"><i class="fa fa-play-circle"></i> Play all</a>
    </div>*@
</h1>
<div class="music-container">
    <ul>
        @foreach (Music music in Model)
        {
            <li class="music-item music-item-@music.type" data-id="@music.id" data-title="@music.title" data-audio="@music.AudioUrl" data-thumbnail="@music.ThumbnailUrl" data-type="@music.type">
                <a class="music-card play-button" href="#">
                    <div class="img-container">
                        <img src="@music.ThumbnailUrl" />
                        <i class="fa fa-play-circle-o"></i>
                    </div>

                    <div class="informations">
                        @*<span class="artist-name">Lomepal</span>*@
                        <span class="class-name">@music.title</span>
                    </div>
                </a>
                <div class="actions">
                    <a class="edit-button" href="#"><i class="fa fa-edit"></i></a>
                    <a class="add-button" href="#"><i class="fa fa-plus"></i></a>
                </div>
            </li>
        }
    </ul>
</div>
