@using SoundSynchro
@model Playlist
@if (Model != null)
{
    <li class="playlist-card playlist-item" data-id="@Model.id">
        <div class="playlist-img-container">
            <img src="@Model.musics.First().ThumbnailUrl" />
            <div class="playlist-actions">
                <a class="edit-playlist-button edit-button" data-open="playlist-edit-@Model.id" href="#"><i class="fa fa-edit"></i></a>
                <a class="view-playlist-button add-button" data-open="playlist-view-@Model.id" href="#"><i class="fa fa-th"></i></a>
                <a class="play-playlist-button play-button" href="#"><i class="fa fa-play"></i></a>
            </div>
        </div>
        <div class="playlist-informations">
            <div class="playlist-playing">
                <a class="play-button" href="#"><i class="fa fa-play"></i></a>
            </div>
            <span class="playlist-name">@Model.title</span>
        </div>
    </li>

    <div id="playlist-view-@Model.id" class="reveal" data-reveal>
        <h3>Playlist content</h3>
        <table class="table">
            <tbody>
                @foreach (Music music in @Model.musics)
                {
                <tr>
                    <td>@music.title</td>
                </tr>
                }
            </tbody>
        </table>

        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div id="playlist-edit-@Model.id" data-id="@Model.id" class="reveal playlist-edit-modal" data-reveal>
        <h3>Playlist editor</h3>
        <p>
            <div class="row">
                <div class="columns small-12">
                    <label>
                        Title
                        <input class="playlistTitle" name="playlistTitle" value="@Model.title" type="text" />
                    </label>
                </div>
            </div>
            <table class="table">
                <tbody>
                    @foreach (Music music in @Model.musics)
                    {
                    <tr>
                        <td>@music.title</td>
                        <td><input type="checkbox" checked data-id="@music.id" /></td>
                    </tr>
                    }
                </tbody>
            </table>
        </p>

        <a href="#" class="button secondary" data-close aria-label="Close reveal">Close</a>
        <a href="#" class="button playlist-edit-save">Save changes</a>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}