<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SoundSynchro</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="body-content">
        <div class="row expanded">
            <div class="small-6 medium-5 large-3 columns">
                <ul id="sidemenu" class="tabs vertical ">
                    <li class="tabs-title active">
                        <a href="@Url.Action( "MusicList", "Home")"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li class="tabs-title">
                        <a href="@Url.Action("MusicList", "Home")"><i class="fa fa-music"></i> Musics</a>
                    </li>
                    <li class="tabs-title">
                        <a href="@Url.Action("PlaylistList", "Home")"><i class="fa fa-file-text"></i> Playlists</a>
                    </li>
                    <li class="tabs-title">
                        <a href="@Url.Action("StorageManagement", "Home")"><i class="fa fa-upload"></i> Storage</a>
                    </li>
                </ul>
                <br />
                <div class="input-group">
                    <input id="search" type="text" class="input-group-field" placeholder="Search">
                    <div class="input-group-button">
                        <a id="searchButton" class="button" href="#"><i class="fa fa-search"></i></a>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div id="player" class="media-object music-item columns small-12 text-center">
                        <div class="thumbnail">
                            <div id="player-file" class="hide">
                                <img src="#" />
                                <audio class="audio hide" controls>
                                    <source src="#" type="audio/mpeg" />
                                </audio>
                            </div>
                            <div id="player-youtube" class="hide">

                            </div>
                        </div>

                        <h6 class="title music-title"></h6>
                        <span id="player-duration-begin" class="label float-left">00:00</span>
                        <span id="player-duration-end" class="label float-right">00:00</span>
                        <div class="slider" data-slider data-initial-start="0">
                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="player-duration-current"></span>
                            <span class="slider-fill" data-slider-fill></span>
                            <input type="hidden" id="player-duration-current" />
                        </div>
                        <div class="tiny button-group">
                            <a href="#" id="player-play" class="button"><i class="fa fa-pause"></i></a>
                            <a href="#" id="player-volume" class="button"><i class="fa fa-volume-up"></i></a>
                        </div>
                    </div>
                    <div class="columns small-12 text-center">
                        <div class="tiny button-group">
                            <a href="#" id="player-previous" class="button"><i class="fa fa-backward"></i></a>
                            <a href="#" id="player-save-playlist" class="button"><i class="fa fa-save"></i></a>
                            <a href="#" id="player-next" class="button"><i class="fa fa-forward"></i></a>
                        </div>
                        <ul id="queue" class="tabs vertical"></ul>
                    </div>
                </div>
            </div>
            <div id="content" class="small-6 medium-7 large-9 columns">
                @RenderBody()
            </div>
        </div>
        <footer class="row text-center">
            <div class="columns small-12">
                <hr />
                <p>&copy; @DateTime.Now.Year - SoundSynchro</p>
            </div>
        </footer>
        @Scripts.Render("~/bundles/foundation")
        @Scripts.Render("~/bundles/soundsynchro")
        @RenderSection("scripts", required: false)
        <script>
            var _PlaylistCreateAction = "@Url.Action("PlaylistCreate")";
            var _MusicSearchAction = "@Url.Action("MusicSearch")";
            var _MusicDeleteAction = "@Url.Action("MusicDelete")";
            var _MusicUpdateAction = "@Url.Action("MusicUpdate")";
            var _PlaylistUpdateAction = "@Url.Action("PlaylistUpdate")";
            var _PlaylistContentAction = "@Url.Action("PlaylistContent")";
        </script>

        <div id="musicEditor" class="reveal" data-reveal>
            <h3>Edit music</h3>
            <p>
                <input id="musicId" type="hidden" value="" />
                <label>
                    Title
                    <input id="musicTitle" name="title" type="text" />
                </label>

                <a href="#" id="musicDelete" class="button alert">Delete this music</a>
            </p>

            <a href="#" class="button secondary" data-close aria-label="Close reveal">Close</a>
            <a href="#" id="musicUpdate" class="button">Save changes</a>

            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div id="playlistCreator" class="reveal" data-reveal>
            <h3>Save playlist</h3>
            <p>
                <input id="musicId" type="hidden" value="" />
                <label>
                    Title
                    <input id="playlistTitle" name="title" class="form-control" type="text" />
                </label>
            </p>

            <a href="#" class="button secondary" data-close aria-label="Close reveal">Close</a>
            <a href="#" id="playlistSave" class="button">Save playlist</a>

            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</body>
</html>
